a img{
    border-radius: 25%;
}   
.image-size{
    width: 100%;
    height: 500px;
}
.container{
    font-size: medium;
    font-family: 'Josefin Sans';
    text-align: center;
    color:black;
    background-color: white;
}
.container-ac{
    font-size: medium;
    font-family: 'Josefin Sans';
    text-align: center;
    color:black;
    background-color: white;
}
.mobile-image{
    width: 180px;
    height: 200px;
    border-radius: 20px;
    /* background-image:linear-gradient(blue,red); */
    border: white 0px solid;
}
.goodnesssec{   
    width: 100%;
    margin-top: 32px;
}
.goodnesssec a{
    text-decoration: none;
    color:black;
}
.row-container{
    display: flex;
}
.border-radius{
    border-radius: 5px;
}
.image-size img{
    object-fit: contain;
}
.image-size{
    object-fit: contain;
}
.button-hw{
    height: 40px;
    width: 525px;
}
.col-lg-12{
    margin-left: 260px;
    flex: 0 0 auto;
    height: 250px;
    width: 30%  ;
}
.col-lg-5 {
    flex: 0 0 auto;
    width: 48.666667%;
    padding-right: 45px;
    margin-right: 20px;
}
/* label{
    display: inline-flex;
} */
.fixed{
    position:fixed;
}
#totalamount{
    margin-right: 20px;
}
.mobile-home{
    display: inline-flex;
}
.mobile-text{
    width: 220px;
    margin: 0px;
    padding: 20px;
    display: flex;
}
.navbar-color{
    background-color: #7F7C9B;
}
.nav-link-color{
    text-decoration: none;
    color: white;
}

/* FOOTER */
.footer {
	width: 100%;
	background: #7F7C9B;
	display: block;
 }

 .inner-footer {
	 width: 95%;
	 margin: auto;
	 padding: 30px 10px;
	 display: flex;
	 flex-wrap: wrap;
	 box-sizing: border-box;
	 justify-content: center;
 }

.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #fff;
}

.footer-items p {
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
	color: #fff;
}

.footer-items h1 {
	color: #fff;
}

.border1 {
	height: 3px;
	width: 40px;
	background: #ff9800;
	color: #ff9800;
	background-color: #ff9800;
	border: 0px;
}

.ul {
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;	
 }

.ul a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

.ul a:hover {
	color: #ff9800;
}

.ul li {
	margin: 10px 0;
	height: 25px;
}

li i {
	margin-right: 20px;
}

.social-media {
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 20px;
}

.social-media a {
  color: #153750;
  margin-right: 15px;
	text-decoration: none;
}

.social-media i {
	height: 25px;
	width: 25px;
	margin: 20px 10px;
  margin-right: 40px;
	padding: 4px;
	color: #fff;
	transition: 0.5s;
}

.social-media i:hover {
	transform: scale(1.5);
}

.footer-bottom {
	padding: 10px;
	background: #7F7C9B;
	color: #fff;
	font-size: 12px;
	text-align: center;
}

/* for tablet mode view */

@media screen and (max-width: 1275px) {
	.footer-items {
		width: 50%;
	}
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
	.footer-items {
		width: 100%;
	}
}

/* you can toggle the media screen view accordingly by changing the (max-width: px) to your convenience */

/* Thanks to Computer Conversations */


.social .fbtn {
    width: 50px;
    display: inline-block;
    color: #fff;
    text-align: center;
    line-height:18px;
    float: left;
}
.social .fa{padding:15px 0px}
.facebook {
    background-color: #3b5998;
}
 
.gplus {
    background-color: #dd4b39;
}
 
.twitter {
    background-color: #55acee;
}
 
.stumbleupon {
    background-color: #eb4924;
}
 
.pinterest {
    background-color: #cc2127;
}
 
.linkedin {
    background-color: #0077b5;
}
 
.buffer {
    background-color: #323b43;
}

.share-button.sharer {
  height: 20px;
  padding: 100px;
}
.share-button.sharer .social.active.top {
  transform: scale(1) translateY(-10px);
}
.share-button.sharer .social.active {
  opacity: 1;
  transition: all 0.4s ease 0s;
  visibility: visible;
}
/* .share-button.sharer .social.networks-5 {

} */
.share-button.sharer .social.top {
  margin-top: -80px;
  transform-origin: 0 0 0;
}
.share-button.sharer .social {
  margin-left: -65px;
  opacity: 0;
  transition: all 0.4s ease 0s;
  visibility: hidden;
}



.wrapper{
  margin-left: 50%;
  margin-top: 19%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 350px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgb(17, 128, 255); 
}

.wrapper h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
}

.wrapper .input_field{
  margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
  border: 1px solid #66dbff;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
}

.wrapper textarea{
  resize: none;
  height: 80px;
}

.wrapper .btn input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: #00a2ff;
  color: #332902;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}
