.image-banner {
  /* mobilestop\static\images\banner-0.jpg */
  background-image: url("../images/welcome10.jpg");
  /* background-color: #0a4e64; */
  background-size: cover;
  opacity: 90%;
  background-position: center;
  height: 400px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.image-banner h1 {
  margin-bottom: -60px;
  color: white;
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 2px #000000;
}
.image-banner p {
  color: white;
  text-align: -webkit-center;
  margin: 45px;
  line-height: 30px;
  line-break: auto;
}

/* Home Page Image For Mobile */

@media screen and (min-width:320px){
  
  .image-banner {
    background-image: url("../images/welcome10.jpg");
    background-size: cover;
    opacity: 90%;
    background-position: center;
    height:20%;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .image-banner h1 {
    margin-bottom: -40px;
    color: white;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px #000000;
  }
  .image-banner p {
    color: white;
    text-align: -webkit-center;
    margin: 45px;
    line-height: 30px;
    line-break: auto;
  }

  .navbar-toggler-icon {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
  
}

/* Home Page Image For Mobile END */

/* Home Page for Laptop Start */

@media screen and (min-width:1400px){
  
  .image-banner {
    background-image: url("../images/welcome10.jpg");
    background-size: cover;
    opacity: 90%;
    background-position: center;
    height:40vh;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .image-banner h1 {
    margin-bottom: -40px;
    color: white;
    font-size: 3.5rem;
    text-align: center;
    text-shadow: 3px 3px #000000;
  }
  .image-banner p {
    color: white;
    text-align: -webkit-center;
    margin: 45px;
    font-size: larger;
    line-height: 30px;
    line-break: auto;
  }

  .navbar-toggler-icon {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
  
}


/* .image-banner{
    object-fit:fill;
    width: 100%;
    height: 700px;
} */
.container {
  font-size: medium;
  font-family: "Josefin Sans";
  text-align: center;
  color: black;
  background-color: white;
}
.container-ac {
  font-size: medium;
  font-family: "Josefin Sans";
  text-align: center;
  color: black;
  background-color: white;
}
.mobile-image {
  width: 180px;
  height: 200px;
  border-radius: 20px;
  /* background-image:linear-gradient(blue,red); */
  border: white 0px solid;
}
.goodnesssec {
  width: 100%;
  margin-top: 32px;
}
.goodnesssec a {
  text-decoration: none;
  color: black;
}
.row-container {
  display: flex;
}
.border-radius {
  border-radius: 5px;
}
.image-size img {
  object-fit: contain;
}
.image-size {
  object-fit: contain;
}
.button-hw {
  height: 40px;
  width: 525px;
}
.col-lg-12 {
  margin-left: 260px;
  flex: 0 0 auto;
  height: 350px;
  width: 40%;
} 
  .col-lg-5 {
  flex: 0 0 auto;
  width: 48.666667%;
  padding-right: 45px;
  margin-right: 20px;
}
label {
  display: inline-flex;
}
.input-contact {
  border-bottom: 1px solid blue;
}
.input-contact input {
  border: 0px;
}
.fixed {
  position: fixed;
}
#totalamount {
  margin-right: 20px;
}
.mobile-home {
  display: inline-flex;
}
.mobile-text {
  width: 220px;
  margin: 0px;
  padding: 20px;
  display: flex;
}
.navbar-height {
  height: 20%;
}
.navbar-color {
  background-color: #088395;
}
.nav-link-color {
  text-decoration: none;
  color: white;
}

/* FOOTER */
.footer {
  width: 100%;
  background: #088395;
  display: block;
}

.inner-footer {
  width: 95%;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.footer-items {
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
  color: #fff;
}

.footer-items p {
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
  color: #fff;
}

.footer-items h1 {
  color: #fff;
}

.border1 {
  height: 3px;
  width: 40px;
  background: #ff9800;
  color: #ff9800;
  background-color: #ff9800;
  border: 0px;
}

.ul {
  list-style: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.ul a {
  text-decoration: none;
  outline: none;
  color: #fff;
  transition: 0.3s;
}

.ul a:hover {
  color: #ff9800;
}

.ul li {
  margin: 10px 0;
  height: 25px;
}

li i {
  margin-right: 20px;
}

.social-media {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.social-media a {
  color: #153750;
  margin-right: 15px;
  text-decoration: none;
}

.social-media i {
  height: 25px;
  width: 25px;
  margin: 20px 10px;
  margin-right: 40px;
  padding: 4px;
  color: #fff;
  transition: 0.5s;
}

.social-media i:hover {
  transform: scale(1.5);
}

.footer-bottom {
  padding: 10px;
  background: #088395;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

/* for tablet mode view */

@media screen and (max-width: 1275px) {
  .footer-items {
    width: 50%;
  }
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
  .footer-items {
    width: 100%;
  }
}

.right_conatct_social_icon {
  background: linear-gradient(to top right, #AFD3E2 -5%, #146C94 100%);
}
.contact_us {
  overflow-x: hidden;
  background-color: #f1f1f1;
  padding: 120px 0px;
}

.contact_inner {
  background-color: #fff;
  position: relative;
  border-radius: 25px;
}
.contact_field {
  padding: 60px 340px 90px 100px;
}
.right_conatct_social_icon {
  height: 100%;
}

.contact_field h3 {
  font-family: emoji;
  color: #000;
  font-size: 50px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact_field p {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 35px;
}
.contact_field .form-control {
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #ccc;
}
.contact_field .form-control:focus {
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid #1325e8;
}
.contact_field .form-control::placeholder {
  font-size: 13px;
  letter-spacing: 1px;
}

.contact_info_sec {
  position: absolute;
  background-color: #F6F1F1;
  right: 1px;
  top: 18%;
  height: 340px;
  width: 340px;
  padding: 40px;
  border: 1px solid #146C94;
  border-radius: 25px 0 0 25px;
}
.contact_info_sec h4 {
  letter-spacing: 1px;
  padding-bottom: 15px;
}

.info_single {
  margin: 30px 0px;
}
.info_single i {
  margin-right: 15px;
}
.info_single span {
  font-size: 14px;
  letter-spacing: 1px;
}

button.contact_form_submit {
  background: linear-gradient(to top right, #9ac9dd  -5%, #146C94 100%);
  border: none;
  color: #fff;
  padding: 10px 15px;
  width: 100%;
  margin-top: 25px;
  border-radius: 35px;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 2px;
}
.socil_item_inner li {
  list-style: none;
}
.socil_item_inner li a {
  color: #fff;
  margin: 0px 15px;
  font-size: 14px;
}
.socil_item_inner {
  padding-bottom: 10px;
}

.map_sec {
  padding: 50px 0px;
}
.map_inner h4,
.map_inner p {
  color: #000;
  text-align: center;
}
.map_inner p {
  font-size: 13px;
}
.map_bind {
  margin-top: 50px;
  border-radius: 30px;
  overflow: hidden;
}
.container {
  margin-top: 15px;
}

/* Contact US Page CSS END */

/* Comment And Comment Section */
.comment {
  display: block;
  transition: all 1s;
}

.commentClicked {
  min-height: 0px;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 5px 10px;
}

textarea {
  width: 100%;
  border: none;
  background: #e8e8e8;
  padding: 5px 10px;
  height: 50%;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 2px solid #016ba8;
  transition: all 0.5s;
  margin-top: 15px;
}

button.primaryContained {
  background: #016ba8;
  color: #fff;
  padding: 10px 10px;
  border: none;
  margin-top: 0px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 4px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
  transition: 1s all;
  font-size: 10px;
  border-radius: 5px;
}

button.primaryContained:hover {
  background: #9201a8;
}

.left-align {
  margin-left: 60px;
}

.comments-section {
  width: 45%;
  margin-left: 50px;
  margin-top: 20px;
  /* border: 1px solid #ccc; */
  padding: 20px;
}

.comments-section h2 {
  font-family: cursive;
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
}

.comment {
  margin-bottom: 20px;
}

.comment-meta {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.comment-meta h3 {
  color: #666;
  font-family: math;
  margin-top: 0;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
}

.comment-meta span {
  font-family: cursive;
  margin-top: -10px;
  font-size: 11px;
  color: #666;
}

.comment p {
  margin-top: -16px;
  font-family: ui-serif;
  margin-bottom: 0;
  font-size: 20px;
}

form {
  width: 30%;
  margin-left: 20px; /* To add some spacing between the comment section and the form */
}
.row-wise {
  display: flex;
  flex-direction: col;
}
form label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

form textarea {
  width: 200%;
  height: 100px;
  font-size: 16px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  resize: vertical;
}
.submit {
  background-color: #5380ab;
  margin-top: 1rem;
  margin-left: 2rem;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

/* form button[type="submit"]:hover {
    background-color: #3e8e41;
  } */

.add-comment {
  float: right;
  margin-top: 40px;
  margin-left: 90px;
}

.main-content {
  min-height: 59vh;
  overflow-x: hidden;
}
.content-about {
  min-height: 75vh;
}
.scroll {
  overflow-x: hidden;
}
.new-container {
  position: relative;
  z-index: 0; /* Lower z-index value */
}

/* Social Share  */
.share-buttons {
  position: relative; /* Add position:relative */
  z-index: 1; /* Add a higher z-index value */
}
.marg-top {
  margin-top: 30px;
}
.social-share {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-left: -95%;
}
.social-share li {
  list-style: none;
  margin: 10px;
}
.social-share li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}
.social-share li a i {
  margin-left: 17px;
  font-size: larger;
}
.social-share li.facebook a {
  background-color: #3b5998;
}
.social-share li.twitter a {
  background-color: #1da1f2;
}
.social-share li.mail a {
  background-color: #ff5722;
}
.social-share li.whatsapp a {
  background-color: green;
}

.about-flex {
  color: grey;
  display: flex;
  margin-left: 40px;
  margin-bottom: -20px;
}
.about-flex h2 {
  color: midnightblue;
}
.text-left {
  display: flex;
  font-size: 1.4rem;
  align-content: flex-start;
  justify-content: left;
}
.mobilestop {
  margin-left: 40px;
  font-family: ui-serif;
  color: midnightblue;
  font-size: xxx-large;
}
.ctp {
  margin-left: 86px;
  font-family: ui-serif;
  color: black;
  font-size: 26px;
}
/* 
.bg-color{
  background-color: red;
} */

/* LOGIN PAGE */

.new-container {
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: center;
}
.new-container h3 {
  color: midnightblue;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  width: 30rem;
  height: 2rem;
  font-family: serif;
  font-size: -webkit-xxx-large;
  margin-bottom: 35px;
}
.new-container input {
  border: 2px solid midnightblue;
  border-radius: 6px;
  height: 40px;
  font-size: 18px;
  width: 35rem;
}
.new-container small {
  margin-left: 7px;
  margin-top: 2px;
}
.new-container a {
  color: midnightblue;
}

/* Google btn */
.login-with-google-btn {
  transition: background-color 0.3s, box-shadow 0.3s;

  padding: 12px 16px 12px 42px;

  border: none;

  border-radius: 3px;

  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);

  color: #757575;

  font-size: 14px;

  font-weight: 500;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);

  background-color: white;

  background-repeat: no-repeat;

  background-position: 12px 11px;
}
.google-btn a {
  margin-left: 200px;
}

.login-with-google-btn {
  transition: background-color 0.3s, box-shadow 0.3s;

  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);

  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}
/* Product Details Page Mobile Image */

@media screen and (min-width: 318px) and (max-width:767px){
  .marg-top {
    margin-top: 0rem;
    margin-left: 1rem;
  }
  .img2 img {
    margin-top: -0.5rem;
    margin-left: 5rem;
    flex: 0 0 auto;
    height: 18rem;
    width: 16rem;
}
.marg-left{
  margin-left: 4rem;
}
.productdetail h2{
  margin-left: 5rem;
  font-size: 1.8rem;
  margin-top: 0.5rem;
  font-family: emoji;
  width: 100%;
}

.productdetail h5,h4{
  margin-left: 5rem;
  font-size: 1.3rem;
  margin-top: 0.5rem;
  font-family: emoji;
  width: 10rem;
}
.productdetail del{
  margin-left: 0rem;
  font-size: 1.3rem;
  margin-top: 0.5rem;
  font-family: emoji;
}
.productdetail small{
  margin-left: 5rem;
  font-size: 2.2rem;
  margin-top: 0.5rem;
  font-family: emoji;
}
.productdetail li{
  margin-right: 2rem;
  margin-left: 2rem;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  font-family: emoji;
  width: 16rem;
}
.submit {
  padding-left: 1.4rem;
  height: 3.2rem;
  width: 18rem;
  margin-top: 10px;
  margin-left: 2.5rem;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 10px;
}
.form {
  width: 10rem;
  margin-top: -3rem;
  margin-left: -4rem; /* To add some spacing between the comment section and the form */
}
.row-wise {
  display: flex;
  flex-direction: col;
}
.form label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.form h2{
  width: 13rem;
}
.form textarea {
  width: 20.5rem;
  height: 100px;
  font-size: 16px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  resize: vertical;
}
.submit-comm {
  padding-left: 1.4rem;
  height: 3.2rem;
  width: 18rem;
  margin-top: 10px;
  margin-left: 1.3rem;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 10px;
}
.marg-left{
  margin-left: 3.8rem;
}
}

/* Product Details Media Query for tablet Device */

@media screen and (min-width: 768px) and (max-width:1440px){
  .marg-top {
    margin-top: 0rem;
    margin-left: 1rem;
  }
  .img2 img {
    margin-top: -2.0rem;
    margin-left: 12rem;
    flex: 0 0 auto;
    height: 22rem;
    width: 24rem;
}

.productdetail h2{
  margin-left: 12rem;
  font-size: 2.2rem;
  margin-top: 0.5rem;
  font-family: emoji;
  width: 100%;
}

.productdetail h5,h4{
  margin-left: 12rem;
  font-size: 1.3rem;
  margin-top: 0.5rem;
  font-family: emoji;
  width: 10rem;
}
.productdetail del{
  margin-left: 0rem;
  font-size: 1.3rem;
  margin-top: 0.5rem;
  font-family: emoji;
}
.productdetail small{
  margin-left: 12rem;
  font-size: 2.2rem;
  margin-top: 0.5rem;
  font-family: emoji;
}
.productdetail li{
  margin-right: 2rem;
  margin-left: 12rem;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  font-family: emoji;
  width: 60rem;
}
.submit {
  padding-left: 1.4rem;
  height: 3.2rem;
  width: 18rem;
  margin-top: 10px;
  margin-left: 30.5rem;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 10px;
}
.submit-comm {
  padding-left: 1.4rem;
  height: 3.2rem;
  width: 18rem;
  margin-top: 10px;
  margin-left: 9.7rem;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 10px;
}
.form {
  width: 10rem;
  margin-top: -3rem;
  margin-left: 0rem; /* To add some spacing between the comment section and the form */
}
.row-wise {
  display: flex;
  flex-direction: col;
}
.form label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.form h2{
  width: 35rem;
}
.form textarea {
  width: 30.5rem;
  height: 100px;
  font-size: 16px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  resize: vertical;
}
.submit-comm {
  padding-left: 1.4rem;
  height: 3.2rem;
  width: 18rem;
  margin-top: 10px;
  margin-left: 1.3rem;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 10px;
}
.marg-left{
  margin-left: 31.8rem;
}
}