{% extends 'base.html' %} 
{% load static %} 
{% block title %}
    MobileStop | About Us
{% endblock title %}
{% block main %}
<div class="content-about">
<div class = "mt-3">
    <br>
    <div class = "text-left"></div>
        <h2 class = "mobilestop">MobileStop</h2>
        <h4 class = "ctp">Closer To People</h4>
    </div>
    <br><br>
    <div class="about-flex">
        <h2><u><b>About Us</b></u></h2>
    </div>
    <br>
    <div class = "row-container">
        <p class = "about-flex text-left">Welcome to mobileStop. We are passionate about providing you with the latest and greatest mobile phones at competitive prices. Our team of experts is committed to delivering high-quality products and excellent customer service.

          Our website is dedicated to helping you find the perfect mobile phone to meet your needs. We offer a wide selection of brands and models, including the latest smartphones from Apple, Samsung, and other leading manufacturers. Whether you're looking for a budget-friendly option or the newest flagship device, we have something for everyone.
          
          At our website, we believe that shopping for a new mobile phone should be easy and stress-free. That's why we offer a streamlined online shopping experience, complete with detailed product descriptions, reviews from other customers, and fast and reliable shipping.
          </p>
    </div>
<br>
    <br><br>
    <div class="about-flex">
        <h2><u><b>Mission</b ></u></h2>
    </div>
    <br>
    <div class = "row-container">
        <p class = "about-flex text-left">We also understand that choosing a new mobile phone can be overwhelming, with so many different features and specifications to consider. That's why our team of experts is always available to answer your questions and provide personalized recommendations based on your needs and preferences.
          
          Thank you for choosing our website for your mobile phone needs. We are committed to providing you with the best possible shopping experience, and we look forward to serving you!
        </p>
    </div>
</div>
</div>
{% endblock %}